<%- include("header") -%>
<div class="box heading">
  <h1><%= listTitle %> List</h1>
</div>
<div class="box heading">
  <h2><a href="/">New List</a></h2>
</div>

<div class="box">

<% newListItems.forEach(function(item){ %>
  <form action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
      <p><%= item.name %></p>
    </div>
    <input type="hidden" name="listName" value="<%= listTitle %>">
  </form>
<% }); %>

    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Item Here" autocomplete="off">
      <button type="submit" name="list" value=<%= listTitle %>>+</button>
    </form>
</div>

<%- include("footer") -%>
